/* Aligns heading text to the center */
h1 {
    text-align: center;
}

/* Sets the font family and background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Styles for fieldsets */
fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Styles for legends inside fieldsets */
legend {
    background-color: #eee;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

/* Styles for buttons */
button {
    padding: 5px 10px;
    background-color: #4f504f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
}

/* Styles for personal data section */
.dades-personals {
    background-color: #add8e6;
}

/* Styles for access form section */
.forma-acces {
    background-color: #87CEEB;
    padding: 3%;
}

/* Styles for documents section */
.documentacio-adjunts {
    background-color: #4169E1;
}
